
@model  HMS.Web.Areas.Dashboard.ViewModel.AccommodationPackageListingModel

@if (Model != null && Model.accommodationpackages != null && Model.accommodationpackages.Count() > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Accommodation Type</th>
                <th scope="col">Fee Per Night</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var accomodationPackage in Model.accommodationpackages)
            {
                <tr>

                    <td>@accomodationPackage.Name</td>
                    <td>
                        @if (accomodationPackage.AccommodationType != null)
                        {
                            @(accomodationPackage.AccommodationType?.Name ?? "No Type")
                        }
                        else
                        {
                            @("No Type")
                        }



                    </td>
                    <td>@accomodationPackage.FeePerNight</td>

                    <td>
                        <button data-href="@Url.Action("Action", "AccommodationPackages", new { ID = accomodationPackage.ID })"
                                type="button"
                                class="data-btn btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#actionModal">
                            <i class="fa-solid fa-trash-alt me-1"></i>Edit
                        </button>
                        <button data-href="@Url.Action("Delete", "AccommodationPackages", new { ID = accomodationPackage.ID })" type="button" class="data-btn btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#actionModal">
                            <i class="fa-solid fa-edit me-1"></i>Delete
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>

                //PAGINATION lOGIC simple and usefull

                if (Model.pager.EndPage > 1)
                {

        <nav>
            <ul class="pagination">
                @if (Model.pager.CurrentPage > 1)
        {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccommodationPackages")">
                            First
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccommodationPackages" , new { pageNo = Model.pager.CurrentPage-1 , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationTypeID})"> Previous</a>
                    </li>
                }

    @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.pager.CurrentPage ? "active" : "")">

                        <a class="page-link" href="@Url.Action("Index","AccommodationPackages" , new { pageNo = page, search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationTypeID })">@page</a>
                    </li>
                }

@if (Model.pager.CurrentPage < Model.pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccommodationPackages" , new { pageNo = Model.pager.CurrentPage+1 , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationTypeID})">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccommodationPackages" , new { pageNo = Model.pager.TotalPages , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationTypeID})">Last</a>
                    </li>
                }

            </ul>
        </nav>
    }

}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No record Available.
    </div>
}


