
@model  HMS.Web.Areas.Dashboard.ViewModel.AccommodationListingModel

@if (Model != null && Model.accommodation != null && Model.accommodation.Count() > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Accommodation Package</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var accomodation in Model.accommodation)
            {
                <tr>

                    <td>@accomodation.Name</td>
                    <td>
                        @if (accomodation.AccommodationPackage != null)
                        {
                            @(accomodation.AccommodationPackage.Name )
                        }
                        else
                        {
                            @("No Type")
                        }



                    </td>
                    <td>@accomodation.Description</td>

                    <td>
                        <button data-href="@Url.Action("Action", "Accommodations", new { ID = accomodation.ID })"
                                type="button"
                                class="data-btn btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#actionModal">
                            <i class="fa-solid fa-trash-alt me-1"></i>Edit
                        </button>
                        <button data-href="@Url.Action("Delete", "Accommodations", new { ID = accomodation.ID })" type="button" class="data-btn btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#actionModal">
                            <i class="fa-solid fa-edit me-1"></i>Delete
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    //PAGINATION lOGIC simple and usefull

    if (Model.pager.EndPage > 1)
    {

        <nav>
            <ul class="pagination">
                @if (Model.pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accommodations")">
                            First
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accommodations" , new { pageNo = Model.pager.CurrentPage-1 , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationPackages})"> Previous</a>
                    </li>
                }

                @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.pager.CurrentPage ? "active" : "")">

                        <a class="page-link" href="@Url.Action("Index","Accommodations" , new { pageNo = page, search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationPackages })">@page</a>
                    </li>
                }

                @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accommodations" , new { pageNo = Model.pager.CurrentPage+1 , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationPackages})">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accommodations" , new { pageNo = Model.pager.TotalPages , search_Bar = Model.Search_Bar, AccommodationTypeID = Model.AccommodationPackages})">Last</a>
                    </li>
                }

            </ul>
        </nav>
    }


}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No record Available.
    </div>
}


